@model UserRolesViewModel

<form asp-action="AssignRoles">
    <div asp-validation-summary="ModelOnly"></div>

    <input asp-for="@Model.Id" type="hidden" />

    @for (var i = 0; i < Model?.Roles.Count(); i++)
    {
        <input asp-for="@Model.Roles[i].IsAssigned" />
        <label asp-for="@Model.Roles[i].IsAssigned">@Model.Roles[i].RoleName</label>
        <input asp-for="@Model.Roles[i].RoleId" type="hidden" />
        <input asp-for="@Model.Roles[i].RoleName" type="hidden" />
    }

    <button type="submit">Assign Roles</button>
</form>