@using ProjectManagement.WebApp.Helpers.Identity;
@model GetDetailsOneBoardViewModel

@{
    ViewData["Title"] = "One Board Page";
}

@section Scripts {
   <script src="~/js/getDetailsOneBoard.js"></script>
}

@section StyleSheets{
     <link rel="stylesheet" href="~/css/getDetailsOneBoard.css"/>
}

  <div class="stages">
      @foreach (var item in Model.stageDtos)
    {
        <div class="stage" data-stage-id="@item.StageId">
            <div class="stage-header">
                <p>@item.StageName</p>
                <a href="/Board/CreateOneTask?boardId=@Model.BoardId&stageId=@item.StageId&returnUrl=/Board/GetDetailsOneBoard?boardId=@Model.BoardId">
                    <svg stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 448 512"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                    </svg>
                </a>
            </div>
            <div id="stage-body" class="stage-body">
                @foreach (var task in item.JobDTOs)
                {
                    <div class="task__wrapper" data-task-id="@task.JobId">
                        @if(task.Priority == JobPriority.low)
                        {
                            <div class="task-priority-low"></div>
                        }
                        else if (task.Priority == JobPriority.medium)
                        {
                            <div class="task-priority-medium"></div>
                        }
                        else if (task.Priority == JobPriority.high)
                        {
                            <div class="task-priority-high"></div>
                        }
                        <div class="task">
                            <div class="task-top">
                                <div class="due-date">
                                    <svg stroke="currentColor"
                                         fill="currentColor"
                                         stroke-width="0"
                                         viewBox="0 0 24 24"
                                         height="1em"
                                         width="1em"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                                        <path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5a2 2 0 0 1-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z"></path>
                                    </svg>
                                    <span>@task.DueDate.ToShortDateString()</span>
                                </div>
                            </div>
                            <div class="task-body">
                                <p>
                                    @task.Title
                                </p>
                            </div>
                            <div class="task-footer__wrapper">
                                <div>
                                    <div class="task-footer">
                                        @if(task.Priority == JobPriority.low)
                                        {
                                            <div class="task-priority-bagde task-priority-low">
                                                Low
                                            </div>
                                        }
                                        else if(task.Priority == JobPriority.medium)
                                        {
                                            <div class="task-priority-bagde task-priority-medium">
                                                Medium
                                            </div>
                                        }
                                        else if (task.Priority == JobPriority.high)
                                        {
                                            <div class="task-priority-bagde task-priority-high">
                                                High
                                            </div>
                                        }
                                       
                                        <div class="assignment">
                                            <ul>
                                                @* TODO: Fixed *@
                                                @if(task.Assignments.Count <= 3)
                                                {
                                                    foreach (var name in task.Assignments)
                                                    {
                                                        <li>@name[0]<a href="#">@name</a></li>
                                                    }
                                                }
                                                else
                                                {
                                                    for (int i = 0; i <= 3; i++)
                                                    {
                                                        <li>@task.Assignments[i][0]</li>
                                                    }
                                                    <li class="assignment-number">+@(task.Assignments.Count - 3)</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <svg stroke="currentColor"
                                     fill="currentColor"
                                     stroke-width="0"
                                     viewBox="0 0 512 512"
                                     height="1em"
                                     width="1em"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M346.5 240H272v-74.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-74.5c-8.8 0-16 6-16 16s7.5 16 16 16H240v74.5c0 9.5 7 16 16 16s16-7.2 16-16V272h74.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z"></path>
                                    <path d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                }

                
                <a href="/Board/CreateOneTask?boardId=@Model.BoardId&stageId=@item.StageId&returnUrl=/Board/GetDetailsOneBoard?boardId=@Model.BoardId" class="add-task-button">
                    <svg stroke="currentColor"
                         fill="currentColor"
                         stroke-width="0"
                         viewBox="0 0 448 512"
                         height="1em"
                         width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                    </svg>
                    <span>Add Task</span>
                </a>
            </div>
        </div>
    }
  </div>

@* @if (User.IsInRole(AppRoles.Admin))
{
    <h2>Admin</h2>
}
else if (User.IsInRole(AppRoles.ProjectManager))
{
    <h2>Project Manager</h2>
}
else if (User.IsInRole(AppRoles.User))
{
    <h2>User</h2>
}
else if (User.IsInRole(AppRoles.ProjectUser))
{
    <h2>Project User</h2>
} *@
